<div class="row no-gutters">
  <div class="ml-4 mt-4 col-xs-10 col-sm-8 col-md-6 form-group">
    <select infinite-scroll class="form-control col-xs-12 col-sm-12 col-md-12" [size]="10"
      [infiniteScrollDistance]="(isState$|async).scrollDDistance" [infiniteScrollUpDistance]="(isState$|async).scrollUDistance"
      (scrolled)="nextWords()" (scrolledUp)="prevWords()" [scrollWindow]="false" [infiniteScrollThrottle]="1"
      [(ngModel)]="selectWord">
      <!--  [alwaysCallback]="true"-->
        <!--<option selected="true" value="-1"></option-->
        <option *ngFor="let word of (isState$|async).dataDisplay;let i=index" [value]="i">
          {{word}}
        </option>
    </select>
  </div>
</div>
<div class="row no-gutters">
  <div class="mt-2 col-xs-4 col-sm-3 col-md-2 offset-xs-1 offset-sm-2 offset-md-2">
    <button type="button" class="btn btn-primary" (click)="addFromArray()" [disabled]="reachedEnd">
      Add Rest of words <span class="badge badge-light">{{(isState$|async).addedSize}}</span></button>
  </div>
</div>
<br />
<div class="row ml-4 mt-10 no-gutters">
  <div class="col-xs-7 col-sm-6 col-md-5 form-group">
    <textarea name="newWord" [(ngModel)]="newWords" class="form-control" rows="3"
      placeholder="Separate words with ','"></textarea>
  </div>
  <div class="ml-3 col-xs-2 col-sm-3 col-md-4">
    <button class="btn btn-secondary" type="button" (click)="addWords()"
      [disabled]="newWords.trim()==''">Add words</button>
  </div>
</div>
<div class="row ml-4 mt-10 no-gutters">
  <div class="col-xs-7 col-sm-6 col-md-5 form-group">
    <label for="deleteIndexes">Total of {{words.length}} words</label>
    <textarea id="deleteIndexes" [(ngModel)]="delIndexes" class="form-control" rows="3"
      placeholder="Separate indexes of words you want to delete with ','"></textarea>
  </div>
  <div class="ml-3 col-xs-2 col-sm-3 col-md-4">
    <div class="col-xs-3 col-sm-3 col-md-3 mt-4">
      <button class="btn btn-danger" type="button" (click)="deleteWords()"
        [disabled]="delIndexes==undefined">Delete words</button><!---->
    </div>
  </div>
</div>
